@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  /* font-family: "IBM Plex Sans", sans-serif; */
}
h2 {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  font-size: 1.2em;
  align-items: baseline;
}
h2 button {
  background: cornflowerblue;
  flex-basis: 10em;
  border-radius: 100%;
  font-weight: bold;
  cursor: pointer;
  height: 4em;
  font-size: 1em;
}
.game-status {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(25, 1fr);
  grid-auto-rows: 1fr;
  height: 700px;
  width: 1200px;
  background-image: url("./ocean.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.grid div {
  /* border: 1px solid black; */
  max-height: 100%;
  max-width: 100%;
}
.sky {
  background-image: url("./sky.png");
  background-size: cover;
}
footer p {
  font-style: italic;
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: underline;
}
.player::before {
  content: "";
  display: block;
  height: 90%;
  width: 90%;
  background: url("./fish1.png");
  background-size: 100%;
  margin: 5%;
}
.fish-net::before {
  content: "";
  display: block;
  height: 90%;
  width: 90%;
  background: url("./fishnet.png");
  background-size: 100%;
  margin: 5%;
}
.plankton::before {
  content: "";
  display: block;
  height: 90%;
  width: 90%;
  background: url("./plankton.png");
  background-size: 100%;
  margin: 5%;
}
