@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  /* font-family: "IBM Plex Sans", sans-serif; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(154, 154, 38);
  background: linear-gradient(
    90deg,
    rgba(154, 154, 38, 1) 1%,
    rgba(51, 177, 228, 0.92) 50%,
    rgba(23, 50, 167, 1) 100%
  );
  margin: 0;
}
header {
  width: 100%;
}
h1 {
  padding-left: 100px;
}

#start-button,
#restart-button {
  background: rgb(26, 196, 26);
  border: 2px solid black;
  flex-basis: 10em;
  border-radius: 100%;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  width: 300px;
  height: 50px;
}
#restart-button {
  background: yellow;
}

.game-status {
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  /* font-family: "IBM Plex Sans", sans-serif; */
  margin: 0;
}
.game-status p:nth-of-type(1) {
  color: darkblue;
}
.game-status p:nth-of-type(2) {
  color: yellow;
}
h2 {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.grid {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(25, 1fr);
  grid-auto-rows: 1fr;
  height: 600px;
  width: 1200px;
  background-image: url("./ocean-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid gold;
}

.grid div {
  /* border: 1px solid black; */
  max-height: 100%;
  max-width: 100%;
}

footer p {
  font-style: italic;
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: underline;
}
.player::before {
  content: "";
  display: block;
  height: 150%;
  width: 100%;
  background: url("./player-fish.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 30%;
}

.plankton::before {
  content: "";
  display: block;
  height: 90%;
  width: 90%;
  background: url("./plankton.png");
  background-size: 100%;
  margin: 5%;
  background-position: center;
}

.fish-net::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: url("./fishing-net.png");
  background-size: contain;
  margin: 0;
}
.fish::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: url("./clown-fish.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.shark::before {
  content: "";
  display: block;
  height: 90%;
  width: 100%;
  background: url("./shark\(1\).png");
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome-page {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 1200px;
  border: 3px solid gold;
  justify-content: center;
  align-items: center;
  color: gold;
  font-size: 40px;
  background: black;
}
.end-message {
  border: 1px solid black;
}
.hidden {
  display: none;
}
